rotating-logger @ git+https://github.com/romainmrad/rotating_logger.git@adfaec7ee5f6f3c2ce25c375f05ce044799208db
yfinance
tensorflow
pandas
numpy
ta
matplotlib
seaborn
scikit-learn
setuptools==68.2.2
